header{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: black;
}

.menu{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    color: white;
    line-height: 10px;
    font-size: 20px;
}

header ul{
    float: left;

}

header ul li{
    float: left;
    list-style: none;
    padding-right: 30px;
    color: white;
    font-size: 20px;
}

main{
   display: flex;
   float: left;
}

h1{
   border-left: 5px solid gray;
   border-bottom: 2px solid gray;
   font-size: 40px;
}

table{
    text-align: center;
}

footer{
    clear: left;
    width: 100%;
    height: 30px;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 20px;
   
}